<!doctpye html>
<html>
  <head>
    <title>WEBapp</title>
    <style>
      h1 {
        font-family: Arial;
        font-size: 36px;
        color: rgb(50,50,50);
        text-align: center;
      }
      #banner {
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h1>First Project</h1>
    <img id='banner' src="https://plus.unsplash.com/premium_photo-1661386253258-64ab9521ce89?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGF0YSUyMGNlbnRlcnxlbnwwfHwwfHx8MA%3D%3D">
    <h2>about 1st project</h2>
    <p>
      Sure! Here’s some random text: "As the sun dipped below the horizon, the sky erupted in a symphony of colors, painting the clouds in hues of orange and purple. A gentle breeze whispered through the trees, carrying the scent of blooming jasmine and the distant sound of laughter from a nearby gathering. In this serene moment, time seemed to stand still, inviting reflection and a sense of wonder about the adventures that lay just beyond the twilight."
    </p>
    <h3>more about project</h2>
    <p> database </p>
    <p>mysql</p>
    <p>flask</p>
    <p>firebase</p> 
    
    <button>contact us</button>
  </body>
</html>